<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-7thread] [%-5level] [%-40.40C :%-3L] => %m%n</pattern>
		</encoder>
	</appender>

<!--	<appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender" additivity="false">-->
<!--		<File>${LOG_HOME}/app.log</File>-->
<!--		<encoder>-->
<!--			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-7thread] [%-5level] [%-40.40C :%-3L] => %m%n</pattern>-->
<!--		</encoder>-->
<!--		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--			<fileNamePattern>${LOG_HOME}/app.log.%d{yyyyMMdd}.gz</fileNamePattern>-->
<!--		</rollingPolicy>-->
<!--	</appender>-->

	<logger name="cn.xnatural.app" level="info"/>
	<logger name="cn.xnatural.remoter" level="info"/>

	<root level="INFO">
<!--		<appender-ref ref="DETAIL"/>-->
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>